.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  
}

.left-main{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 2rem;
}

.right-main{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 2rem;
  gap: 1rem;
}

.searchBar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchBar input{
  width: 100%;
}

.productTable{
 
}

.productTable td , .productTable th{
  border: 1px solid black;
}

.productTable td{
  padding-right: 50px;
}

.searchBar, .productTable{
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
}

.searchBar input {
  width: 100%;
  box-sizing: border-box;
}

.inStockLabel {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.5vh;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

.inStockLabel input{
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.product-form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.textBox{  
  width: 96%;
  margin-top: 0.5rem;
}

.saveButton{
  width: 100%;
}

.deleteButton{
  align-items: center;
  cursor: pointer;
}

.deleteCell{
  border: none !important;
  padding-right: 0 !important;
  padding-left: 0.3rem;
}